{% extends 'base.html' %}
{% block title %}Snack Form{% endblock %}
{% block content %}

<h1>New Playlist</h1>

<form action="/add_playlist" method="post">
  {{form.hidden_tag()}}
  {% for field in form
      if field.widget.input_type != 'hidden' %}
    <p>
      {{field.label}}
      {{field}}

      {% for error in field.errors %}
        <i class="w3-text-red">{{error}}</i>
      {% endfor %}
    </p>
  {% endfor %}
  <button>Add Playlist</button>
</form>

{% endblock %}
